<html>
    <head>
        <title>Psychedelic Sounds</title>
    </head>
    <body>
        <div>
              <h1><a href="">Psychedelic Sounds</a></h1>
        </div>

        <div>
        	<p>published: 20.05.2018, 10:25</p>
        	<h2><a href="">The 13th Floor Elevators</a></h2>
            <p>The 13th Floor Elevators were an American rock band from Austin, Texas, formed by guitarist and vocalist Roky Erickson, electric jug player Tommy Hall, and guitarist Stacy Sutherland. The band existed from 1965 to 1969. During their career, the band released four LP records and seven 45s for the International Artists record label.</p>
        </div>

        <div>
        	<p>published: 20.05.2018, 10:30</p>
        	<h2><a href="">Cream</a></h2>
        	<p>Cream were a 1960s British rock power trio consisting of drummer Ginger Baker, guitarist/singer Eric Clapton and lead singer/bassist Jack Bruce. The group's third album, Wheels of Fire (1968), was the world's first platinum-selling double album. The band is widely regarded as the world's first successful supergroup. In their career, they sold more than 15 million copies of their albums worldwide. Their music included songs based on traditional blues such as "Crossroads" and "Spoonful", and modern blues such as "Born Under a Bad Sign", as well as more current material such as "Strange Brew", "Tales of Brave Ulysses" and "Toad".</p>
        </div>
    </body>
</html>